name: workflow
on: [push]

jobs:
  lint:
    name: Check lint
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Install golangci-lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.23.1

    - name: Run golangci-lint
      run: |
        $(go env GOPATH)/bin/golangci-lint run ./... -E misspell

  test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Set up Google application credentials
      run: |
        echo '${{ secrets.GCP_SERVICE_ACCOUNT }}' | base64 -D > $GITHUB_WORKSPACE/credentials.json

    - name: Run unit test
      env:
        GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/credentials.json
      run: |
        make test
